<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 404 /custom-404-page.html
    
    # Redirect specific path to homepage
    RewriteCond %{REQUEST_URI} ^/cdn-cgi/l/email-protection$
    RewriteRule ^.*$ https://www.dnexuscorp.com [R=301,L]
</IfModule>